main{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

form{
    width: 100%;
    margin-bottom: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 8%;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin-bottom: 4%;
    font-weight: 600;
    font-size: 1.0em;
    color: #333333;
}

form button{
    background-color: #5aba8d;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
}

form button:hover{
    background-color: #4ea97a;
    transition: ease-in-out 0.2s;
}

main h2{
    margin-bottom: 6%;
    color: #333333;
    font-size: 3.5em;
}

main h2 span{
    font-size: 0.6em;
    margin-right: 50px;
    margin-left: 50px;
}
